{% block styles %}
    <style>
        #examples {
            margin-top: 30px;
            padding: 0 24px;
        }

        .example-content {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 32px;
        }

        .examples_h3 {
            color: #374151;
            font-size: 18px;
            margin-bottom: 12px;
            padding-bottom: 8px;
            border-bottom: 2px solid #a8d8ea;
        }

        .example_text {
            font-size: 14px;
            margin-left: 0;
            color: #6b7280;
            font-family: "Courier New", Courier, monospace;
            line-height: 1.8;
            background-color: #f9fafb;
            padding: 16px 20px;
            border-radius: 8px;
            border-left: 4px solid #d4a5d9;
        }
    </style>
{% endblock %}

<div id="examples">
    <div class="example-content">
        <div class="example_text">
            <h3 class="examples_h3">Reminder examples</h3>
            9am talk to friends<br>
            09:30 have a coffee<br>
            1800 eat a burger<br>

            <br>

            in 30 mins go shopping<br>
            in 105 mins go shopping<br>
            in 45 minutes go shopping<br>
            in twenty minutes go shopping<br>
            in one hour go shopping<br>
            in 1 hour go shopping<br>
            in 1 hr go shopping<br>
            in 36 hours go shopping<br>
            in one hour and 30 mins go shopping<br>
            in 1 hour and thirty two minutes go shopping<br>
            in two hours and 45 minutes respond to email<br>
            in 2 hours and 45 mins respond to email<br>
            in 2 hours 45 mins respond to email<br>
            in 2 hrs 45 mins respond to email<br>
            in 1 day and 5 hours go shopping<br>
            in 2 weeks 22 hours and 35 minutes send email to person<br>
            in one month pay my rent<br>
            <br>
            at 1630 take a break<br>
            at 5:30pm take a break<br>
            at 6am take a break<br>
            at 11 take a break<br>
            at 17:37 on 5th jan send email to person<br>
            at 17:37 on 5th oct 2022 send email to person<br>
            at 1630 on 5th september take a break<br>
            at 19:48 jan 5 send email to person<br>
            at 17:37 on 15/7 send email to person<br>
            at 12:34 on 1/2/2022<br>

            <br>
            on 4th august at 2:45pm book holiday<br>
            on 1st jun at 2:45pm book holiday<br>
            on 28/12/2019 at 12:34 book holiday<br>
            on 28/12 12:34 book holiday<br>

            <br>
            tomorrow at 1630 pick up delivery<br>
            tomorrow pick up delivery<br>
            tuesday at 12:34 book holiday<br>
            sunday 12:34 book holiday<br>
            sunday book holiday<br>
            next sunday 12:34 book holiday<br>
            next weds book holiday<br>

            <!--<span class="example_text red"><br>
                in 1.5 hours do something<br>
            </span>-->
        </div>

        <div class="example_text">
            <h3 class="examples_h3">Command examples</h3>

            list: display all upcoming reminders<br>
            history: display top fifty historical reminders
        </div>
    </div>
</div>